/* VARIABLES */
:root {
    --primary-color: lightgray; 
    --link-color: black;
}

html {
	height: 100%;
}

body{
	background-color: lightgray;
}

.sideBar{
	margin-top: 50%;
	border-right: 1px solid rgba(50,50,50, 0.2);
}

.mainContent {
	margin-top: 5%;
}

h1 {
	padding-bottom: 20px;
}

.table thead {
	background: var(--primary-color);
	font-weight: bold;
}

a {
	color: var(--link-color);
}

.btn-basic{
	background: var(--primary-color);
	
}

